.bbcard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  outline: none !important;
}

.bbcard:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 24px rgba(0,0,0,0.15);
  outline: none !important;
}
